<h4>{{pf2eHeroActions 'createTable.choice.types.group'}}</h4>
<label>
    <input type="radio" name="type" value="default" checked />
    {{pf2eHeroActions 'createTable.choice.types.default'}}
</label>
<label>
    <input type="radio" name="type" value="custom" />
    {{pf2eHeroActions 'createTable.choice.types.custom'}}
</label>
<hr />
<h4>{{pf2eHeroActions 'createTable.choice.draw.group'}}</h4>
<label>
    <input type="radio" name="draw" value="random" />
    {{pf2eHeroActions 'createTable.choice.draw.random'}}
</label>
<label>
    <input type="radio" name="draw" value="unique" checked />
    {{pf2eHeroActions 'createTable.choice.draw.unique'}}
</label>
