.actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.heroActions-list .action .item-controls > button {
  text-rendering: optimizeLegibility;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px #bfbebe;
  color: var(--text-dark);
  flex: 0;
  font-family: var(--sans-serif);
  font-size: var(--font-size-10);
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 14px;
  margin: 0;
  padding: 3px 8px;
  text-transform: uppercase;
  white-space: nowrap;
  background: var(--bg-dark);
}
.actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.heroActions-list .action .item-controls > button:hover {
  text-shadow: 0 0 1px var(--text-dark);
}
.actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.heroActions-list .action:not(.expanded) .item-summary {
  display: none;
}
.actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.heroActions-list .action.discarded {
  background-color: rgba(0, 0, 0, 0.1294117647);
}
.actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.heroActions-list .action.discarded .item-name h4 {
  text-decoration: line-through;
}
.actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.heroActions-list .error {
  margin: auto;
  color: #990404;
  font-weight: 900;
  padding-block: 8px;
}
.actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.heroActions-list:not(.discardable) [data-action=discard-selected] {
  display: none;
}
.actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.heroActions-list.discardable .error {
  display: none;
}