#pf2e-hero-actions-updates .window-content header,
#pf2e-hero-actions-welcome .window-content header {
  font-size: 2em;
  margin: auto;
  font-weight: 500;
  margin-bottom: 0.3em;
}
#pf2e-hero-actions-updates .window-content .content,
#pf2e-hero-actions-welcome .window-content .content {
  text-align: justify;
}
#pf2e-hero-actions-updates .window-content .content p,
#pf2e-hero-actions-welcome .window-content .content p {
  padding-inline: 0.2em;
}
#pf2e-hero-actions-updates .window-content .content code,
#pf2e-hero-actions-welcome .window-content .content code {
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0.0901960784);
  border-radius: 2px;
  padding-inline: 4px;
}