#pf2e-hero-actions-updates,
#pf2e-hero-actions-welcome {
    .window-content {
        header {
            font-size: 2em;
            margin: auto;
            font-weight: 500;
            margin-bottom: 0.3em;
        }

        .content {
            text-align: justify;

            p {
                padding-inline: 0.2em;
            }

            code {
                font-family: inherit;
                background-color: #00000017;
                border-radius: 2px;
                padding-inline: 4px;
            }
        }
    }
}
